.hidden {
  display: none !important;
}

#header {
  height: 60px;
}

#game_container > div {
  --bs-gutter-x: 0;
}

#game_window {
  width: 960px;
  height: 480px;
}

#blocks_workspace {
  height: 480px;
}